QueueClientService/Service References/HD/Controller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ContollerWebService.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ContollerWebService.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;&lt;font size='3'&gt;定义了一系列排队机控制器的接口&lt;/font&gt;&lt;br/&gt;&lt;font color='red'&gt;FAQ：当硬件发生改变，例如串口并口拔开，需要在IIS的对此服务进行应用程序回收，或者重启此服务，应用程序池不能用DefaultAppPool，应当新建一个。QT*.dll需要放到C:/Windows/System32文件夹下&lt;/font&gt;&lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ContollerWebService.com/">
      <s:element name="ReadCardData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="devType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="track" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadCardDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadCardDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintSlip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintSlipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrintSlipResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaySpeakerSound">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contentCN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="playSequence" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="volume" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaySpeakerSoundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaySpeakerSoundResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayWirelessSpeakerSound">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devAddr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="playType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="volume" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="windowNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayWirelessSpeakerSoundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlayWirelessSpeakerSoundResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowScreenMSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="devType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="showType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="devAddr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="billNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="windowNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowScreenMSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowScreenMSGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayEvaluateSound">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="playType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="devAddr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlayEvaluateSoundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlayEvaluateSoundResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowEvaluateMSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="staffID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="star" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="devAddr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowEvaluateMSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowEvaluateMSGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCallerMSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="showType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="devAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerNum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="leftCustomerCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="login" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="logout" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pauseService" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="resumeService" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCallerMSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowCallerMSGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="devType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="devAddr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceMSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="devType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="devAddr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceMSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceMSGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperateCaller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="operType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="devAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperateCallerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OperateCallerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadCardDataSoapIn">
    <wsdl:part name="parameters" element="tns:ReadCardData" />
  </wsdl:message>
  <wsdl:message name="ReadCardDataSoapOut">
    <wsdl:part name="parameters" element="tns:ReadCardDataResponse" />
  </wsdl:message>
  <wsdl:message name="PrintSlipSoapIn">
    <wsdl:part name="parameters" element="tns:PrintSlip" />
  </wsdl:message>
  <wsdl:message name="PrintSlipSoapOut">
    <wsdl:part name="parameters" element="tns:PrintSlipResponse" />
  </wsdl:message>
  <wsdl:message name="PlaySpeakerSoundSoapIn">
    <wsdl:part name="parameters" element="tns:PlaySpeakerSound" />
  </wsdl:message>
  <wsdl:message name="PlaySpeakerSoundSoapOut">
    <wsdl:part name="parameters" element="tns:PlaySpeakerSoundResponse" />
  </wsdl:message>
  <wsdl:message name="PlayWirelessSpeakerSoundSoapIn">
    <wsdl:part name="parameters" element="tns:PlayWirelessSpeakerSound" />
  </wsdl:message>
  <wsdl:message name="PlayWirelessSpeakerSoundSoapOut">
    <wsdl:part name="parameters" element="tns:PlayWirelessSpeakerSoundResponse" />
  </wsdl:message>
  <wsdl:message name="ShowScreenMSGSoapIn">
    <wsdl:part name="parameters" element="tns:ShowScreenMSG" />
  </wsdl:message>
  <wsdl:message name="ShowScreenMSGSoapOut">
    <wsdl:part name="parameters" element="tns:ShowScreenMSGResponse" />
  </wsdl:message>
  <wsdl:message name="PlayEvaluateSoundSoapIn">
    <wsdl:part name="parameters" element="tns:PlayEvaluateSound" />
  </wsdl:message>
  <wsdl:message name="PlayEvaluateSoundSoapOut">
    <wsdl:part name="parameters" element="tns:PlayEvaluateSoundResponse" />
  </wsdl:message>
  <wsdl:message name="ShowEvaluateMSGSoapIn">
    <wsdl:part name="parameters" element="tns:ShowEvaluateMSG" />
  </wsdl:message>
  <wsdl:message name="ShowEvaluateMSGSoapOut">
    <wsdl:part name="parameters" element="tns:ShowEvaluateMSGResponse" />
  </wsdl:message>
  <wsdl:message name="ShowCallerMSGSoapIn">
    <wsdl:part name="parameters" element="tns:ShowCallerMSG" />
  </wsdl:message>
  <wsdl:message name="ShowCallerMSGSoapOut">
    <wsdl:part name="parameters" element="tns:ShowCallerMSGResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceStatus" />
  </wsdl:message>
  <wsdl:message name="GetDeviceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceMSGSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceMSG" />
  </wsdl:message>
  <wsdl:message name="GetDeviceMSGSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceMSGResponse" />
  </wsdl:message>
  <wsdl:message name="OperateCallerSoapIn">
    <wsdl:part name="parameters" element="tns:OperateCaller" />
  </wsdl:message>
  <wsdl:message name="OperateCallerSoapOut">
    <wsdl:part name="parameters" element="tns:OperateCallerResponse" />
  </wsdl:message>
  <wsdl:portType name="ControllerSoap">
    <wsdl:operation name="ReadCardData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;读取卡的数据&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; devType：1（银行卡），2（二代证）&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; track：指定磁道，1（两个磁道都返回，结果以##隔开），2（返回磁道2），3（返回磁道3）&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; timeout：阻塞的时间，单位为秒&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; 若读取成功，则返回读取的数据；否则返回空串。返回结果格式为：银行卡（卡号#账号）,二代证（姓名#性别#民族#出生年月#住址#身份证号码#签发机关#有效期始#有效期终）</wsdl:documentation>
      <wsdl:input message="tns:ReadCardDataSoapIn" />
      <wsdl:output message="tns:ReadCardDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintSlip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;打印排队凭条&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; content：打印的内容。具体格式为：默认将会打印所有XFSFIELD，且打印其缺省值，若需要改变值或者不打印某一XFSFILED，则直接用赋值符号。赋值符号后面若为空，则不打印该XFSFIELD，若为某一值，则打印该值。例如Branch=#Number=MA098#BusinessType=个人现金#Count=108#TipMsg2=#Time=2010-3-26 22:31:22#Birthday=##&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; timeout：阻塞的时间（秒）&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（执行成功），其他值（执行失败）&lt;/br&gt;&lt;/br&gt;&lt;font color='red'&gt;FAQ：若打印格式不对齐，需要修改WOSA底层程序。XFSFIELD对大小写敏感&lt;/font&gt;</wsdl:documentation>
      <wsdl:input message="tns:PrintSlipSoapIn" />
      <wsdl:output message="tns:PrintSlipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaySpeakerSound">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;主音箱播放声音&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; contentCN：中文播放内容。例如“请;A;0;0;1;号顾客到;1;号;窗口;”其中，所有以分号隔开的文字对应到播放文件，如“请;”对应“请.wav”&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; contentEN：英文播放内容。例如“customer;A;0;0;1;please come to;window;1;”&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; playSequence：播放顺序，以分号隔开多个语种。1（提示音），2（普通话），3（英语），4（粤语）。例如“1;2;3;4;”表示先播提示音，然后播普通话，然后播英语，然后播粤语&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; volume：播放音量，范围是0~9&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（执行成功），其他值（执行失败）&lt;br/&gt;&lt;br/&gt;&lt;font color='red'&gt;FAQ：如果遇到声音无法播放，可能是由于路径名称过长造成的，请使用简写的文件名重试。例如英文的please come to可能需要用缩写p_c_t&lt;/font&gt;</wsdl:documentation>
      <wsdl:input message="tns:PlaySpeakerSoundSoapIn" />
      <wsdl:output message="tns:PlaySpeakerSoundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlayWirelessSpeakerSound">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;无线音箱播放声音&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; devAddr：无线音箱硬件地址。硬件地址应该为3位，不足3位则补零，例如001&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; volume：播放类型。1（普通叫号），2（呼叫大堂经理），3（呼叫业务顾问），4（呼叫保安）&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; volume：播放音量，范围是0~9&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; customerNO：顾客号&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; windowNO：窗口号&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（执行成功），其他值（执行失败）</wsdl:documentation>
      <wsdl:input message="tns:PlayWirelessSpeakerSoundSoapIn" />
      <wsdl:output message="tns:PlayWirelessSpeakerSoundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowScreenMSG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;屏幕显示信息&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; devType：屏幕类型。1（窗口屏），2（综合屏）&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; showType：显示类型。1（显示客户号|窗口号），2（显示自定义信息），3（窗口屏专属，显示暂停服务），4（窗口屏专属，显示服务恢复）&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; devAddr：屏幕的硬件地址。硬件地址应该为3位，不足3位则补零，例如001&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; width：屏幕宽度，一个字的点阵数是16，若屏幕可以显示5个字，则屏幕宽度为5*16=80，以此类推，中文占一个字，英文或数字占半个字&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; height：屏幕高度，一个字的点阵数是16，若屏幕的是综合屏，有4行，则屏幕高度为4*16=64，若屏幕是条屏，只有1行，则屏幕高度为1*16=16以此类推，以此类推&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; billNum：票号。当showType为1时，此参数有效&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; windowNum：窗口号。当showType为1事，此参数有效&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; msg：自定义信息。当showType为2时，此参数有效&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（执行成功），其他值（执行失败）</wsdl:documentation>
      <wsdl:input message="tns:ShowScreenMSGSoapIn" />
      <wsdl:output message="tns:ShowScreenMSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlayEvaluateSound">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;评价器播放声音&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; playType：播放类型。1（您好，欢迎光临），2（请您对我的工作给予评价），3（一米线外等候）&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; devAddr：评价器的硬件地址。硬件地址应该为3位，不足3位则补零，例如001&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（执行成功），其他值（执行失败）</wsdl:documentation>
      <wsdl:input message="tns:PlayEvaluateSoundSoapIn" />
      <wsdl:output message="tns:PlayEvaluateSoundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowEvaluateMSG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;评价器显示信息&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; staffID：员工号&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; star：员工星级。1-5星&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; devAddr：评价器的硬件地址。硬件地址应该为3位，不足3位则补零，例如001&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（执行成功），其他值（执行失败）</wsdl:documentation>
      <wsdl:input message="tns:ShowEvaluateMSGSoapIn" />
      <wsdl:output message="tns:ShowEvaluateMSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowCallerMSG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;呼叫器显示信息&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; showType：显示类型。1（显示客户号|未受理客户数|客户名字），2（显示登录是否成功），3（显示登出是否成功），4（显示暂停服务），5（显示恢复服务），6（显示自定义信息）&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; devAddr：呼叫器的硬件地址。硬件地址应该为3位，不足3位则补零，例如001&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; modelType：模板类型，showType为1时有效。m1（普通模式），m2（VIP模式），m6（显示的同时让呼叫器发声）&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; customerNum：客户号，showType为1时有效&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; leftCustomerCount：未受理客户数，showType为1和2时有效&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; customerName：客户名字。model为m2时有效&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; login：登录是否成功，showtype为2时有效。0（成功），1（失败）&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; logout：登出是否成功，showtype为3时有效。0（成功），1（失败）&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; pauseService：暂停服务是否成功，showtype为4时有效。0（成功），1（失败）&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; resumeService：恢复服务是否成功，showtype为5时有效。0（成功），1（失败）&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; msg：自定义信息，showtype为6时有效&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（执行成功），其他值（执行失败）</wsdl:documentation>
      <wsdl:input message="tns:ShowCallerMSGSoapIn" />
      <wsdl:output message="tns:ShowCallerMSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;获取设备的状态&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; devType：1（呼叫器），2（窗口屏），3（综合屏），4（评价器），5（主音箱），6（无线音箱），7（银行卡），8（二代证），9（打印机）&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; devAddr：设备硬件地址。硬件地址应该为3位，不足3位则补零，例如001&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; width：屏幕宽度，一个字的点阵数是16，若屏幕可以显示5个字，则屏幕宽度为5*16=80，以此类推，中文占一个字，英文或数字占半个字&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; width：屏幕高度，一个字的点阵数是16，若屏幕的是综合屏，有4行，则屏幕高度为4*16=64，若屏幕是条屏，只有1行，则屏幕高度为1*16=16以此类推，以此类推&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; timeout：阻塞的时间，单位为秒&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（工作正常），其他值（工作异常）</wsdl:documentation>
      <wsdl:input message="tns:GetDeviceStatusSoapIn" />
      <wsdl:output message="tns:GetDeviceStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceMSG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;获取设备消息&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; devType：设备类型，1（呼叫器），2（评价器）&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; devAddr：设备硬件地址。硬件地址应该为3位，不足3位则补零，例如001&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; timeout：阻塞的时间，单位为秒&lt;br/&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; 获取的值。设备地址|指令|数据。例如，COM1,9600,025|EAV_MSG|3</wsdl:documentation>
      <wsdl:input message="tns:GetDeviceMSGSoapIn" />
      <wsdl:output message="tns:GetDeviceMSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OperateCaller">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;&lt;b&gt;&lt;font size='2'&gt;操作呼叫器&lt;/font&gt;&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;输入参数:&lt;br/&gt;&lt;font color='blue'&gt;int&lt;/font&gt; operType：操作类型，1（初始化呼叫器），2，（呼叫器播放蜂鸣声），3（设置呼叫器登录状态）&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; devAddr：设备硬件地址。硬件地址应该为3位，不足3位则补零，例如001&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; userName：登录用户名。当operType为3时有效&lt;/br&gt;&lt;font color='blue'&gt;int&lt;/font&gt; status：设置呼叫器是否登录成功，当operType为3时有效。0（登录成功），其他值（登录失败）&lt;/br&gt;&lt;br/&gt;返回结果:&lt;br/&gt;&lt;font color='blue'&gt;string&lt;/font&gt; “0”（操作成功），其他值（操作失败）</wsdl:documentation>
      <wsdl:input message="tns:OperateCallerSoapIn" />
      <wsdl:output message="tns:OperateCallerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControllerSoap" type="tns:ControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadCardData">
      <soap:operation soapAction="http://ContollerWebService.com/ReadCardData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintSlip">
      <soap:operation soapAction="http://ContollerWebService.com/PrintSlip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaySpeakerSound">
      <soap:operation soapAction="http://ContollerWebService.com/PlaySpeakerSound" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayWirelessSpeakerSound">
      <soap:operation soapAction="http://ContollerWebService.com/PlayWirelessSpeakerSound" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowScreenMSG">
      <soap:operation soapAction="http://ContollerWebService.com/ShowScreenMSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayEvaluateSound">
      <soap:operation soapAction="http://ContollerWebService.com/PlayEvaluateSound" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowEvaluateMSG">
      <soap:operation soapAction="http://ContollerWebService.com/ShowEvaluateMSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCallerMSG">
      <soap:operation soapAction="http://ContollerWebService.com/ShowCallerMSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceStatus">
      <soap:operation soapAction="http://ContollerWebService.com/GetDeviceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceMSG">
      <soap:operation soapAction="http://ContollerWebService.com/GetDeviceMSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperateCaller">
      <soap:operation soapAction="http://ContollerWebService.com/OperateCaller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControllerSoap12" type="tns:ControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadCardData">
      <soap12:operation soapAction="http://ContollerWebService.com/ReadCardData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintSlip">
      <soap12:operation soapAction="http://ContollerWebService.com/PrintSlip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaySpeakerSound">
      <soap12:operation soapAction="http://ContollerWebService.com/PlaySpeakerSound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayWirelessSpeakerSound">
      <soap12:operation soapAction="http://ContollerWebService.com/PlayWirelessSpeakerSound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowScreenMSG">
      <soap12:operation soapAction="http://ContollerWebService.com/ShowScreenMSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayEvaluateSound">
      <soap12:operation soapAction="http://ContollerWebService.com/PlayEvaluateSound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowEvaluateMSG">
      <soap12:operation soapAction="http://ContollerWebService.com/ShowEvaluateMSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCallerMSG">
      <soap12:operation soapAction="http://ContollerWebService.com/ShowCallerMSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceStatus">
      <soap12:operation soapAction="http://ContollerWebService.com/GetDeviceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceMSG">
      <soap12:operation soapAction="http://ContollerWebService.com/GetDeviceMSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperateCaller">
      <soap12:operation soapAction="http://ContollerWebService.com/OperateCaller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Controller">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;&lt;font size='3'&gt;定义了一系列排队机控制器的接口&lt;/font&gt;&lt;br/&gt;&lt;font color='red'&gt;FAQ：当硬件发生改变，例如串口并口拔开，需要在IIS的对此服务进行应用程序回收，或者重启此服务，应用程序池不能用DefaultAppPool，应当新建一个。QT*.dll需要放到C:/Windows/System32文件夹下&lt;/font&gt;&lt;/b&gt;</wsdl:documentation>
    <wsdl:port name="ControllerSoap" binding="tns:ControllerSoap">
      <soap:address location="http://localhost:6565/Controller.asmx" />
    </wsdl:port>
    <wsdl:port name="ControllerSoap12" binding="tns:ControllerSoap12">
      <soap12:address location="http://localhost:6565/Controller.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>