TestServeice/Service References/QueueClient/QueueClient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ritacc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ritacc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ritacc.com/">
      <s:element name="BussinessQH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BussinessID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mCard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BussinessQHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BussinessQHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BussinessQHSoapIn">
    <wsdl:part name="parameters" element="tns:BussinessQH" />
  </wsdl:message>
  <wsdl:message name="BussinessQHSoapOut">
    <wsdl:part name="parameters" element="tns:BussinessQHResponse" />
  </wsdl:message>
  <wsdl:portType name="QueueClientSoap">
    <wsdl:operation name="BussinessQH">
      <wsdl:input message="tns:BussinessQHSoapIn" />
      <wsdl:output message="tns:BussinessQHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueueClientSoap" type="tns:QueueClientSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BussinessQH">
      <soap:operation soapAction="http://www.ritacc.com/BussinessQH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QueueClientSoap12" type="tns:QueueClientSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BussinessQH">
      <soap12:operation soapAction="http://www.ritacc.com/BussinessQH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueueClient">
    <wsdl:port name="QueueClientSoap" binding="tns:QueueClientSoap">
      <soap:address location="http://localhost:1298/QueueClient.asmx" />
    </wsdl:port>
    <wsdl:port name="QueueClientSoap12" binding="tns:QueueClientSoap12">
      <soap12:address location="http://localhost:1298/QueueClient.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>