BuutomDefin/ButtomDefin/Service References/WCFSV/BottomDA1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QM.Web.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QM.Web.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6076/WCF/BottomDA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" />
  <xs:complexType name="ArrayOfButtomControl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ButtomControl" nillable="true" type="tns:ButtomControl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfButtomControl" nillable="true" type="tns:ArrayOfButtomControl" />
  <xs:complexType name="ButtomControl">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" minOccurs="0" name="ButtomOR" nillable="true" type="q1:QhandyOR" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ButtomControl" nillable="true" type="tns:ButtomControl" />
  <xs:complexType name="ArrayOfYWOR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YWOR" nillable="true" type="tns:YWOR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYWOR" nillable="true" type="tns:ArrayOfYWOR" />
  <xs:complexType name="YWOR">
    <xs:sequence>
      <xs:element minOccurs="0" name="NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YWOR" nillable="true" type="tns:YWOR" />
</xs:schema>