BuutomDefin/ButtomDefin/Service References/WCFSV/BottomDA2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6076/WCF/BottomDA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" />
  <xs:import schemaLocation="http://localhost:6076/WCF/BottomDA.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QM.Web.WCF" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABottom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetABottomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" minOccurs="0" name="GetABottomResult" nillable="true" type="q1:QhandyOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBottomList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagewindID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBottomListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" minOccurs="0" name="GetBottomListResult" nillable="true" type="q2:ArrayOfQhandyOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" minOccurs="0" name="obj" nillable="true" type="q3:QhandyOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBottom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QM.Web.WCF" minOccurs="0" name="OpList" nillable="true" type="q4:ArrayOfButtomControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBottomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBottomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYWList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wdbh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYWListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QM.Web.WCF" minOccurs="0" name="GetYWListResult" nillable="true" type="q5:ArrayOfYWOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageWinS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wdbh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageWinSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" minOccurs="0" name="GetPageWinSResult" nillable="true" type="q6:ArrayOfPageWinOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPageWin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" minOccurs="0" name="obj" nillable="true" type="q7:PageWinOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPageWinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPageWinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePageWin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QM.Entity.ParaSet" minOccurs="0" name="obj" nillable="true" type="q8:PageWinOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePageWinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePageWinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletepageWin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletepageWinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletepageWinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>