QClient/Service References/QueueClinetServiceReference/QueueClient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ritacc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ritacc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ritacc.com/">
      <s:element name="getLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="windowid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="endService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="windowid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="endServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="endServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BussinessQH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BussinessID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mCard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BussinessQHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BussinessQHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQueue">
        <s:complexType />
      </s:element>
      <s:element name="getQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQueueResult" type="tns:ArrayOfBussinessQueueOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBussinessQueueOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BussinessQueueOR" nillable="true" type="tns:BussinessQueueOR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BussinessQueueOR">
        <s:complexContent mixed="false">
          <s:extension base="tns:BussinessOR">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="BussQueues" type="tns:ArrayOfQueueInfoOR" />
              <s:element minOccurs="1" maxOccurs="1" name="QueueNumber" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BussinessOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Englishname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Typename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Waittime1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Priortime1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Waittime2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Priortime2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Waittime3" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Priortime3" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ticketmethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Mondayflag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mondaytime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuesdayflag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Tuesdaytime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Wednesdayflag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Wednesdaytime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Thurdayflag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Thurdaytime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fridayflag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Fridaytime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Saturdayflag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Saturdaytime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sundayflag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Sundaytime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Orgbh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQueueInfoOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QueueInfoOR" nillable="true" type="tns:QueueInfoOR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueueInfoOR">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsVip" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ConvertTimeLen" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReCallNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DelayDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VipFirstTime" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bankno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bussinessid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Prillbilltime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Transferdestwin" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Delaynum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Delaytime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Calltime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Processtime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Finishtime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Windowno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Employno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Employname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cardno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Judge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Waitinterval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Processinterval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Waitpeoplebusssiness" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Waitpeoplebank" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Custemclass" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNowQueue" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UpStatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getQueuesByWindow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="windowID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQueuesByWindowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQueuesByWindowResult" type="tns:ArrayOfBussinessQueueOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBussinessInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BussinessID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBussinessInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBussinessInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCallResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="billNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="getCustomerSellInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="billNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerSellInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPageWinById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageWinByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPageWinByIdResult" type="tns:PageWinOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PageWinOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Orgbh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISSelect" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetButtonsByPageWinId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="windowId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetButtonsByPageWinIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetButtonsByPageWinIdResult" type="tns:ArrayOfQhandyOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQhandyOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QhandyOR" nillable="true" type="tns:QhandyOR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QhandyOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Orgbh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelIdx" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelVisible" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LabelCaption" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelFontcolor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LabelFontname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelFontunderline" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelFontitalic" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelFontbold" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelFontsize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelTop" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelLeft" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LabelJobno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LabelJobname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LabelPrintstr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelShade" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TagVisible" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TagCaption" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TagFontcolor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TagFontname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TagFontunderline" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TagFontitalic" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TagFontbold" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TagFontsize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TagTopoffset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TagLeftoffset" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LabelType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnlabelVisible" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="EnlabelCaption" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnlabelFontcolor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EnlabelFontname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnlabelFontitalic" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnlabelFontunderline" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnlabelFontbold" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnlabelFontsize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Screentype" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EnlabelLeftoffset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EnlabelTopoffset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Buttomtype" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Windowonid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Windowid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeInfoResult" type="tns:EmployeeOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmployeeOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Employno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Employtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Highrole" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lowrole" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Orgbh" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSysParamConfigOR">
        <s:complexType />
      </s:element>
      <s:element name="GetSysParamConfigORResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSysParamConfigORResult" type="tns:SysParamConfigOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SysParamConfigOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Popswiptime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contickettime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cartickettime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Calllimittime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Curshowtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Windowinfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mainwindowinfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Backgroundsound" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstsound" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Secondsound" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thirdsound" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Callvolumn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Backgroundvolumn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vipcardinfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Othercardinfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Invalidcardinfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidCardCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidationCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mCard" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidationCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidationCardResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDevices">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDevicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDevicesResult" type="tns:ArrayOfDeviceOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeviceOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeviceOR" nillable="true" type="tns:DeviceOR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviceOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Devicetypeid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Windowno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Windowtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Devicemodel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hostaddr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusShow" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Updatetime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Createtime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDeviceSatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDeviceSatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDeviceSatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImgPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newimgname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImgPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateImgPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectShutdownTime">
        <s:complexType />
      </s:element>
      <s:element name="SelectShutdownTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectShutdownTimeResult" type="tns:ShutdownTimeOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ShutdownTimeOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mondaytime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tuesdaytime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Wednesdaytime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thurdaytime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fridaytime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Saturdaytime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sundaytime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Orgbh" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectAllWindow">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllWindowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllWindowResult" type="tns:ArrayOfWindowOR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWindowOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WindowOR" nillable="true" type="tns:WindowOR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WindowOR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sounddev" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Orgbh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jca2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jca3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jca4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jca5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jca6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jca7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pjqAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fjqAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tpAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getLoginSoapIn">
    <wsdl:part name="parameters" element="tns:getLogin" />
  </wsdl:message>
  <wsdl:message name="getLoginSoapOut">
    <wsdl:part name="parameters" element="tns:getLoginResponse" />
  </wsdl:message>
  <wsdl:message name="endServiceSoapIn">
    <wsdl:part name="parameters" element="tns:endService" />
  </wsdl:message>
  <wsdl:message name="endServiceSoapOut">
    <wsdl:part name="parameters" element="tns:endServiceResponse" />
  </wsdl:message>
  <wsdl:message name="BussinessQHSoapIn">
    <wsdl:part name="parameters" element="tns:BussinessQH" />
  </wsdl:message>
  <wsdl:message name="BussinessQHSoapOut">
    <wsdl:part name="parameters" element="tns:BussinessQHResponse" />
  </wsdl:message>
  <wsdl:message name="getQueueSoapIn">
    <wsdl:part name="parameters" element="tns:getQueue" />
  </wsdl:message>
  <wsdl:message name="getQueueSoapOut">
    <wsdl:part name="parameters" element="tns:getQueueResponse" />
  </wsdl:message>
  <wsdl:message name="getQueuesByWindowSoapIn">
    <wsdl:part name="parameters" element="tns:getQueuesByWindow" />
  </wsdl:message>
  <wsdl:message name="getQueuesByWindowSoapOut">
    <wsdl:part name="parameters" element="tns:getQueuesByWindowResponse" />
  </wsdl:message>
  <wsdl:message name="getBussinessInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getBussinessInfo" />
  </wsdl:message>
  <wsdl:message name="getBussinessInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getBussinessInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getCallSoapIn">
    <wsdl:part name="parameters" element="tns:getCall" />
  </wsdl:message>
  <wsdl:message name="getCallSoapOut">
    <wsdl:part name="parameters" element="tns:getCallResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="getCustomerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomerSellInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomerSellInfo" />
  </wsdl:message>
  <wsdl:message name="getCustomerSellInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomerSellInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageWinByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetPageWinById" />
  </wsdl:message>
  <wsdl:message name="GetPageWinByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageWinByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetButtonsByPageWinIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetButtonsByPageWinId" />
  </wsdl:message>
  <wsdl:message name="GetButtonsByPageWinIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetButtonsByPageWinIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeInfo" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSysParamConfigORSoapIn">
    <wsdl:part name="parameters" element="tns:GetSysParamConfigOR" />
  </wsdl:message>
  <wsdl:message name="GetSysParamConfigORSoapOut">
    <wsdl:part name="parameters" element="tns:GetSysParamConfigORResponse" />
  </wsdl:message>
  <wsdl:message name="ValidationCardSoapIn">
    <wsdl:part name="parameters" element="tns:ValidationCard" />
  </wsdl:message>
  <wsdl:message name="ValidationCardSoapOut">
    <wsdl:part name="parameters" element="tns:ValidationCardResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDevicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDevices" />
  </wsdl:message>
  <wsdl:message name="GetAllDevicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceSatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDeviceSatus" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceSatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDeviceSatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientValue" />
  </wsdl:message>
  <wsdl:message name="GetClientValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientValueResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateImgPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateImgPassword" />
  </wsdl:message>
  <wsdl:message name="UpdateImgPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateImgPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SelectShutdownTimeSoapIn">
    <wsdl:part name="parameters" element="tns:SelectShutdownTime" />
  </wsdl:message>
  <wsdl:message name="SelectShutdownTimeSoapOut">
    <wsdl:part name="parameters" element="tns:SelectShutdownTimeResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllWindowSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllWindow" />
  </wsdl:message>
  <wsdl:message name="SelectAllWindowSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllWindowResponse" />
  </wsdl:message>
  <wsdl:portType name="QueueClientSoap">
    <wsdl:operation name="getLogin">
      <wsdl:input message="tns:getLoginSoapIn" />
      <wsdl:output message="tns:getLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="endService">
      <wsdl:input message="tns:endServiceSoapIn" />
      <wsdl:output message="tns:endServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BussinessQH">
      <wsdl:input message="tns:BussinessQHSoapIn" />
      <wsdl:output message="tns:BussinessQHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueue">
      <wsdl:input message="tns:getQueueSoapIn" />
      <wsdl:output message="tns:getQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueuesByWindow">
      <wsdl:input message="tns:getQueuesByWindowSoapIn" />
      <wsdl:output message="tns:getQueuesByWindowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBussinessInfo">
      <wsdl:input message="tns:getBussinessInfoSoapIn" />
      <wsdl:output message="tns:getBussinessInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCall">
      <wsdl:input message="tns:getCallSoapIn" />
      <wsdl:output message="tns:getCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerInfo">
      <wsdl:input message="tns:getCustomerInfoSoapIn" />
      <wsdl:output message="tns:getCustomerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerSellInfo">
      <wsdl:input message="tns:getCustomerSellInfoSoapIn" />
      <wsdl:output message="tns:getCustomerSellInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageWinById">
      <wsdl:input message="tns:GetPageWinByIdSoapIn" />
      <wsdl:output message="tns:GetPageWinByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetButtonsByPageWinId">
      <wsdl:input message="tns:GetButtonsByPageWinIdSoapIn" />
      <wsdl:output message="tns:GetButtonsByPageWinIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInfo">
      <wsdl:input message="tns:GetEmployeeInfoSoapIn" />
      <wsdl:output message="tns:GetEmployeeInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysParamConfigOR">
      <wsdl:input message="tns:GetSysParamConfigORSoapIn" />
      <wsdl:output message="tns:GetSysParamConfigORSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidationCard">
      <wsdl:input message="tns:ValidationCardSoapIn" />
      <wsdl:output message="tns:ValidationCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDevices">
      <wsdl:input message="tns:GetAllDevicesSoapIn" />
      <wsdl:output message="tns:GetAllDevicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceSatus">
      <wsdl:input message="tns:UpdateDeviceSatusSoapIn" />
      <wsdl:output message="tns:UpdateDeviceSatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientValue">
      <wsdl:input message="tns:GetClientValueSoapIn" />
      <wsdl:output message="tns:GetClientValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateImgPassword">
      <wsdl:input message="tns:UpdateImgPasswordSoapIn" />
      <wsdl:output message="tns:UpdateImgPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectShutdownTime">
      <wsdl:input message="tns:SelectShutdownTimeSoapIn" />
      <wsdl:output message="tns:SelectShutdownTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllWindow">
      <wsdl:input message="tns:SelectAllWindowSoapIn" />
      <wsdl:output message="tns:SelectAllWindowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueueClientSoap" type="tns:QueueClientSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLogin">
      <soap:operation soapAction="http://www.ritacc.com/getLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="endService">
      <soap:operation soapAction="http://www.ritacc.com/endService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BussinessQH">
      <soap:operation soapAction="http://www.ritacc.com/BussinessQH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueue">
      <soap:operation soapAction="http://www.ritacc.com/getQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueuesByWindow">
      <soap:operation soapAction="http://www.ritacc.com/getQueuesByWindow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBussinessInfo">
      <soap:operation soapAction="http://www.ritacc.com/getBussinessInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCall">
      <soap:operation soapAction="http://www.ritacc.com/getCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerInfo">
      <soap:operation soapAction="http://www.ritacc.com/getCustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerSellInfo">
      <soap:operation soapAction="http://www.ritacc.com/getCustomerSellInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageWinById">
      <soap:operation soapAction="http://www.ritacc.com/GetPageWinById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetButtonsByPageWinId">
      <soap:operation soapAction="http://www.ritacc.com/GetButtonsByPageWinId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInfo">
      <soap:operation soapAction="http://www.ritacc.com/GetEmployeeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysParamConfigOR">
      <soap:operation soapAction="http://www.ritacc.com/GetSysParamConfigOR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidationCard">
      <soap:operation soapAction="http://www.ritacc.com/ValidationCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDevices">
      <soap:operation soapAction="http://www.ritacc.com/GetAllDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceSatus">
      <soap:operation soapAction="http://www.ritacc.com/UpdateDeviceSatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientValue">
      <soap:operation soapAction="http://www.ritacc.com/GetClientValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImgPassword">
      <soap:operation soapAction="http://www.ritacc.com/UpdateImgPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectShutdownTime">
      <soap:operation soapAction="http://www.ritacc.com/SelectShutdownTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllWindow">
      <soap:operation soapAction="http://www.ritacc.com/SelectAllWindow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QueueClientSoap12" type="tns:QueueClientSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLogin">
      <soap12:operation soapAction="http://www.ritacc.com/getLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="endService">
      <soap12:operation soapAction="http://www.ritacc.com/endService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BussinessQH">
      <soap12:operation soapAction="http://www.ritacc.com/BussinessQH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueue">
      <soap12:operation soapAction="http://www.ritacc.com/getQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueuesByWindow">
      <soap12:operation soapAction="http://www.ritacc.com/getQueuesByWindow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBussinessInfo">
      <soap12:operation soapAction="http://www.ritacc.com/getBussinessInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCall">
      <soap12:operation soapAction="http://www.ritacc.com/getCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerInfo">
      <soap12:operation soapAction="http://www.ritacc.com/getCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerSellInfo">
      <soap12:operation soapAction="http://www.ritacc.com/getCustomerSellInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageWinById">
      <soap12:operation soapAction="http://www.ritacc.com/GetPageWinById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetButtonsByPageWinId">
      <soap12:operation soapAction="http://www.ritacc.com/GetButtonsByPageWinId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInfo">
      <soap12:operation soapAction="http://www.ritacc.com/GetEmployeeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysParamConfigOR">
      <soap12:operation soapAction="http://www.ritacc.com/GetSysParamConfigOR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidationCard">
      <soap12:operation soapAction="http://www.ritacc.com/ValidationCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDevices">
      <soap12:operation soapAction="http://www.ritacc.com/GetAllDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceSatus">
      <soap12:operation soapAction="http://www.ritacc.com/UpdateDeviceSatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientValue">
      <soap12:operation soapAction="http://www.ritacc.com/GetClientValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImgPassword">
      <soap12:operation soapAction="http://www.ritacc.com/UpdateImgPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectShutdownTime">
      <soap12:operation soapAction="http://www.ritacc.com/SelectShutdownTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllWindow">
      <soap12:operation soapAction="http://www.ritacc.com/SelectAllWindow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueueClient">
    <wsdl:port name="QueueClientSoap" binding="tns:QueueClientSoap">
      <soap:address location="http://localhost:1298/QueueClient.asmx" />
    </wsdl:port>
    <wsdl:port name="QueueClientSoap12" binding="tns:QueueClientSoap12">
      <soap12:address location="http://localhost:1298/QueueClient.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>